*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
}
.menu{
    width: 100%;
    padding: 20px;
    position: absolute;
    background-color: black;
    z-index: 9999;
    top: 0;
    display: flex;
    align-items: center;
    left: 0;
}
h1{
    color: white;
    text-align: center;
    width: 100%;
}
.menu #btn{
    position: absolute;
    right: 30px;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.square{
    width: 50px;
    height: 50px;
     background-color: #999;
  position: absolute;
  box-shadow: 10px 5px 5px #222;
 
}
.square:nth-child(3n+1){
    background-color: orange;
}
.square:nth-child(3n+2){
    background-color: #006aff;
}
.square:nth-child(3n+3){
    background-color: hsl(48, 100%, 50%);
}
.square:nth-child(3n+4){
    background-color: hwb(0 5% 95%);
}